<!-- Main content -->
<div class="box-body">
	<div class="form-group">
        <label>Nome do Solicitante</label>
        <input ng-model="name" type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
        <label>Tipo de Serviço</label>
        <input ng-model="tipo" type="text" class="form-control" placeholder="Tipo de Serviço">
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <textarea ng-model="descricao"class="form-control" rows="5" placeholder="Descrição ..."></textarea>
    </div>
    <button ng-click="enviar()" type="button" class="btn btn-block btn-success btn-lg">Enviar</button>
  
</div><!-- /.content -->
